version: '3.7'

x-base: &base
  restart: "on-failure"
  logging:
    options:
      max-size: "10m"
      max-file: "5"


services:
  luigi:
    <<: *base
    image: "nsidc/sipn-reanalysis-ingest:${SIPN_REANALYSIS_INGEST_VERSION:-version_not_set}"
    command: "luigid"
    container_name: "luigi"

    environment:
      LUIGI_CONFIG_PARSER: "toml"
      RDA_USERNAME: "${RDA_USERNAME}"
      RDA_PASSWORD: "${RDA_PASSWORD}"

    volumes:
      - "${DATA_DIR}:/data:rw"
      - "${LOGS_DIR}:/logs:rw"

    ports:
      # Luigi Web Interface:
      - "8082:8082"
