name: sipn-reanalysis-ingest
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python ~=3.10.6

  # Dev dependencies:
  - bump2version ~=1.0
  - invoke ~=1.7
  - black ~=22.3.0
  - isort ~=5.10
  - pytest ~=7.1
  - mypy ~=0.942
  - shellcheck ~=0.8.0
  - typing_extensions ~=4.4

  - flake8 ~=4.0
  - flake8-bugbear ~=22.3.23
  - flake8-comprehensions ~=3.8
  - flake8-docstrings ~=1.6
  - flake8-use-fstring ~=1.3

  - types-requests~=2.28

  # Runtime dependencies:
  - luigi ~=3.1
  - click ~=8.1
  - loguru ~=0.6.0
  - requests ~=2.28
  - pynio ~=1.5
  - pyngl ~=1.6
  - xarray ~=2022.0
  - netcdf4 ~=1.6

  # Implicit dependencies:
  ## required by luigi to run a tasks db in remote scheduler
  - sqlalchemy ~=1.4
